/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/* contenedor  */

html {
  scroll-behavior: smooth;
}

/*Sección Menu*/

section.menu,
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.menu,
section.title,
section.about,
section.skills,
section.hobbies {
  padding: 16px;
}

.menu__list {
  display: none;
}

.menu__title,
.title__bio,
.about__title,
.skills__title,
.hobbies__title,
.academic__title,
.experience__section__title,
.formcontato__title {
  font-size: 22px;
  margin: 0;
}

.menu__title {
  font-size: 16px;
  padding-left: 8px;
}

/*Sección Title*/

.title__profile {
  max-width: 98px;
  padding-bottom: 16px;
  border-radius: 50%;
}

.skills__title,
.hobbies__title,
.academic__title,
.experience__section__title {
  text-align: center;
}

.title__subsection,
.about__paragraph,
.academic__courses__item__subtitle,
.experience__text {
  font-size: 14px;
}

.title__network {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

/*Sección About*/

section.about,
section.academic,
section.formcontato {
  background-color: #eaf2fd;
}

/* Seccion Skills */

.skills__line,
.hobbies__line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 32px;
}

.skills__box {
  filter: drop-shadow(0 5px 5px #aa9f9f);
}

.skills__box,
.hobbies__box {
  width: 45%;
  height: 118px;
  margin-bottom: 32px;
  background-color: #fff;
}

.skills__box > ul,
.hobbies__box > ul {
  display: flex;
  justify-content: space-evenly;
  padding-left: 16px;
  flex-direction: column;
  height: 100%;
}

.skills__name,
.experience__title {
  font-weight: bold;
  font-size: 16px;
}
/*Sección Hobbies*/

.hobbies__name {
  font-weight: bold;
  font-size: 16px;
}

/* Experiencia Académica*/

section.academic,
section.experience,
section.formcontato,
section.footer {
  padding: 32px;
}

section.academic,
section.formcontato {
  background-color: #eaf2fd;
}

.academic__courses {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.academic__courses__list {
  padding: 0;
}

.academic__courses__item__img {
  padding: 50px 125px;
  background-color: #fff;
}

.academic__courses__item__img > img {
  width: 84px;
  height: 58px;
}

.academic__courses__item__title {
  font-weight: bold;
  font-size: 16px;
}

.academic__courses__item__title h4 {
  margin: 0;
  padding: 8px;
}

.academic__courses__item__subtitle {
  font-weight: 400;
}

.academic__courses__item__subtitle p {
  margin: 0;
}

.academic__title {
  padding-bottom: 16px;
}

/* experiencia*/

.experience__section__title + .experience__box {
  padding-top: 16px;
}

.experience__box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 0;
}

.experience__img {
  height: 144px;
}

.experience__info,
.experience__info-container {
  font-size: 16px;
  font-weight: bold;
}

.experience__text {
  font-weight: 500;
  padding: 8px 0;
}

.experience__title,
.experience__text {
  margin: 0;
}

.experience__title {
  font-size: 16px;
}

/*Contacto*/

.formcontato--esquerda {
  display: none;
}

.formcontato__title + .formcontato__subtext {
  padding-top: 8px;
}

.formcontato__subtext {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 18.78px;
}

.formcontato__form {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.formcontato__botao,
.experience__botao--demo,
.experiencia__botao--repo {
  padding: 12px 16px;
  border: none;
}

.formcontato__botao,
.experience__botao--demo {
  color: #fff;
  background-color: #2a7ae4;
}

.experiencia__botao--repo {
  border: 1px solid #2a7ae4;
  background-color: transparent;
  color: #2a7ae4;
}

.experience__description {
  display: flex;
  gap: 16px;
}

.formcontato__input,
.formcontato__textarea {
  border: transparent;
  flex-grow: 1;
  height: 56px;
  width: 80vw;
}

.formcontato__textarea {
  height: 96px;
}

/*footeer*/

.footer__rodape p {
  margin: 0;
  text-align: center;
}
/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Tablet*/
@media (min-width: 768px) {
  /* Menú */
  section.menu,
  section.title,
  section.about,
  section.skills,
  section.hobbies {
    padding: 32px;
  }
  /*title*/
  .title__div {
    display: flex;
    flex-direction: row-reverse;
  }

  .title__profile {
    max-width: 146px;
    padding-bottom: initial;
    padding-left: 32px;
  }

  .title__network {
    justify-content: initial;
    gap: 32px;
  }

  .skills__box,
  .hobbies__box {
    width: 30%;
  }

  .academic__courses {
    justify-content: space-between;
  }

  .academic__courses__item__img {
    padding: 50px 70px;
  }

  .experience__img {
    height: 320px;
  }
}

/*Mobile*/
@media (min-width: 1440px) {
  /*Menu*/

  section.menu {
    justify-content: space-around;
  }
  .menu__list {
    display: flex;
    padding: 0;
    gap: 32px;
  }

  .menu__list__item:nth-child(6) {
    font-weight: bold;
  }

  .menu__list__item__contato {
    display: none;
  }
  /*Titulo*/
  section.title {
    padding: 32px 0;
    display: flex;
    justify-content: center;
  }

  .title__profile {
    max-width: 368px;
    padding-left: initial;
  }

  .title__bio {
    font-size: 52px;
  }

  .title__subsection {
    font-size: 22px;
  }

  .title__container {
    max-width: 700px;
  }

  .title__div {
    align-items: center;
  }

  /*Sección sobre mi*/
  section.about {
    padding: 64px;
    display: flex;
    justify-content: center;
  }
  .about__title {
    font-size: 32px;
  }

  .about__paragraph {
    font-size: 16px;
  }

  .about__container {
    max-width: 1050px;
  }
  /*Skills*/
  .skills__line,
  .hobbies__line {
    gap: 16px;
    justify-content: center;
  }

  .skills__box,
  .hobbies__box {
    width: 11.5%;
  }
  /*Hobbies*/

  /*Formación Académica*/
  section.academic {
    padding: 82px;
  }

  .academic__title {
    font-size: 32px;
  }
  .academic__courses {
    justify-content: center;
    gap: 16px;
  }

  .academic__courses__item__img {
    padding: 70px 125px;
  }
  /*Experiencia Profesional*/
  .experience__img {
    max-width: 752px;
    height: 406px;
  }

  .experience__box:nth-child(2n) {
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .experience__box:nth-child(3n) {
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
  }
  .experience__box:last-child {
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
  }
  /*Contacto*/
  .formcontato--esquerda {
    display: initial;
  }

  .formcontato__contacto {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  .formcontato__text {
    width: 645px;
  }

  .formcontato__input,
  .formcontato__textarea {
    width: 100%;
  }

  .formcontato__textarea {
    height: 133px;
  }

  .formcontato__title {
    font-size: 32px;
  }

  .formcontato__subtext {
    font-size: 16px;
  }
  /*Footer*/
}
